<p style="text-align: center;"><strong>Welcome to Coffee Dashboard</strong></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<center>
    <table>
        
    <tr>
        <td><p style="text-align: center;"><strong><img src="static/plot.jpg" alt="" width="300" height="225" /></strong></p></td>
        <td><p style="text-align: center;"><strong><img src="static/wordcloud.jpg" alt="" width="300" height="225" /></strong></p></td>
    </tr>
    <tr>
        <td><p style="text-align: center;"><strong><img src="static/plot2.jpg" alt="" width="300" height="225" /></strong></p></td>
        <td><p style="text-align: center;"><strong><img src="static/wordcloud2.jpg" alt="" width="300" height="225" /></strong></p></td>
    </tr>

</table>
</center>

<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><strong>Developed by - Mr. Abdullah</strong></p>